@import url("./../utils/var.css");



.today-poem {
  border-top: .2rem solid var(--primary);
  max-height: 41.24rem;
}
.h3 {
  font-family: var(--text-serif);
  font-weight: 300;
  font-style: italic;
}

.full-page {
  height: 85%;
}

.faded-text {
  background: linear-gradient(rgba(248, 249, 250, 0.473), rgba(248, 249, 250, 0.884), #F8F9FA );
}

.today-tag {
  background-color: var(--primary);
  font-weight: bold;
  left: -0.4rem;
  font-family: var(--text-sans);
}
.read-more { 
  background-color: var(--primary);
  font-family: var(--text-sans);
  font-weight: bold;
}
.read-more:hover { background-color: var(--primary-dark);}

.lorem-img {
  width: 311px;
  height: 314px;
  background-color: rgb(78, 74, 74);
}