:root {
  --primary: #00B4F0;
  --primary-dark: #00608D;
  --primary-lightest: #59D6FF;

  /* --grey: #212B36; */
  --bg-dark-light: #282828f9;
  --greys-lightest: #343434;

  --greys-100: #eaeaea;
  

  --text-serif: 'Lora', serif;
  --text-sans: 'Source Sans Pro', sans-serif;

  --ps: 1.25rem;
}
