@import url(./utils/var.css);
@import url(./../node_modules/bootstrap-icons/font/bootstrap-icons.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navbar-brand {
    font-family: var(--text-serif);
    font-weight: bold;
    font-style: italic;
}
.nav-link, form button {
    font-family: var(--text-sans);
}

.text-20 {
    font-size: var(--ps);
    font-family: var(--text-serif);
}

.para { opacity: 88%; }
.bg-dark-light { background-color: var(--bg-dark-light); }
.text-serif { font-family: var(--text-serif); }
.text-sans { font-family: var(--text-sans); }
.text-medium { font-weight:300; }